*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #131313;
}
/* **************** */
header{
  background-image: url(../../image/background1.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.navbar.active{
  background: #202020;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}

.navbar-brand {
  font-size: 1.9rem;
}

.nav-link{
  font-size: 1.2rem;
}

.navbar-dark .navbar-nav .nav-link{
  color:#fff;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: coral;
  cursor: pointer;
}
/* ******************* */
.img-profil{
  height: 100vh;
}

.img-profil .imga{
  overflow: hidden;
  margin-top: 45px;
  width: 90%;
}

.text-profil h2{
  font-size: 2.3rem;
  font-weight: bold;
}

.text-profil p{
  font-size: 1.3rem;
}

.text-profil span{
  color: coral;
}

.btn, .form-control{
  border-radius: 0px;
}

.btn{
  border: 2px solid coral;
  padding: 10px 20px;
}

.btn:hover{
  background-color: coral;
  border: 2px solid coral;
  padding: 10px 20px;
}
/* **************** */
.about-me{
  margin-top: 200px;
}

.text-me h1{
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 3px solid coral;
}

.text-me p{
  font-size: 0.9rem;
  color: #c1c3c5;
}

.text-me p b{
  font-size: 0.9rem;
  color: #fff;
}

/* **************** */
.project{
  margin-top: 200px;
  background-image: url(../../image/background1.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

/* **************** */

.contact label{
 color: #c1c3c5;
}

.contact .form-control{
  background-color: #131313;
}

/* ******** */
.footer{
  overflow: hidden;
}

.footer a{
  color: coral;
  text-decoration: none;
}

.text-social-media{
  color:  #c1c3c5;
}

.text-social-media i{
  color: #c1c3c5;
}

.text-social-media i:hover{
  color: coral;
}

