*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  position: relative;
  font-family: sans-serif;
}
/* **************** */
header{
  background-image: url(../../image/background1.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.navbar.active{
  background: #130e05;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}

.navbar-brand {
  font-size: 1.9rem;
}

.nav-link{
  font-size: 1.2rem;
}

.nav-link a:hover{
  color: cornflowerblue;
  cursor: pointer;
}
/* ******************* */
.img-profil{
  height: 100vh;
  margin-bottom: 0;
  margin-right: 0;
}

.img-profil img{
  border-radius: 50%;
}

.text-profil{
  height: 50vh;
}

.text-profil h1{
  font-size: 1.7rem;
}

.text-profil p{
  font-size: 1.3rem;
}